@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$color-clicked: #bbbbbb;
$color-black: #111111;

$border-default: 2px solid $color-black;

$font-default: 'Poppins',Century Gothic,CenturyGothic,AppleGothic,sans-serif;
